body{
	background-image: url(anh/if.jpg);
	font-family: tahoma;
	font-size: 13px;
	
}
h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-style: italic;
	color: darkorchid;
	font-size: 60px;
}
#banner img {
	height: 280px;
	width: 1350px;
	margin: 0px;
	padding: 0px;
}


#menu_top{
	background-color: rgb(126, 54, 136);
	height: 50px;
}
	
#menu_top ul{
	margin: 0px;
	padding: 0px;
}

#menu_top ul li{
	list-style: none;
	float: right;
	height: 50px;
}
#menu_top ul li a {
text-decoration: none;
display: block;
height: 50px;
line-height: 50px;
padding:0px 40px 0px 40px;
color: rgba(229, 214, 233, 0.822);
font-size: 20px;
border-right: 2px solid #cccccc;
}

#main #left {
	width: 800px;
	float: left;
	min-height: 400px;
}
#main #left ul {
	margin: 0px;
	padding: 0px;
}
#main #left ul li {
	list-style:  none;
}

#main #left ul li img{
	height: 250px;
	width: 200px;
	float: left;
	margin-right: 20px;
}
#main #left ul li h2 {
	font-size: 20px;
	color: rgba(13, 105, 243, 0.979);
	font-style: italic;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#footer{
	width: 1300px;
	text-align: center;
	height: 100px;
	clear: left;
	color: rgb(34, 5, 29);
	font-size: 15px;
}